/* SERVIÇOS */
.header-menu ul li a.menu-ativo {
  color: #ffbb11;
}
.s-tittle {
  position: relative;
}
.bg-servico {
  width: 100%;
  margin-bottom: 20px;
  margin-top: -1px;
}
.s-tittle h1 {
  position: absolute;
  top: 25%;
  z-index: 10;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #ffbb11;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.s-tittle h1:after,
.s-tittle h1:before {
  content: "";
  display: block;
  width: 320px;
  height: 5px;
  background: #ffbb11;
  margin: 8px auto 6px auto;
}

.subt {
  display: flex;
  justify-content: center;
}
.subt h2 {
  display: inline-block;
  border: 5px solid black;
  padding: 10px 30px;
  color: black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.cont-s {
  justify-content: center;
  margin-top: 20px;
}

.cont-s img {
  width: 300px;
  height: 238px;
}

.servicos-s {
  margin-left: 40px;
}

.cont-s ul li {
  padding-left: 10px;
  min-width: 360px;
  line-height: 25px;
}

.servicos-s p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  padding: 0 0 15px 0px;
}

.servicos-s p::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #00ca43;
  border-radius: 50%;
  border: 2px solid #0e1013;
  margin-right: 6px;
  margin-bottom: 2px;
}

.servicos-s ul li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ffbb11;
  border-radius: 50%;
  border: 2px solid #0e1013;
  margin-right: 6px;
  margin-bottom: 2px;
}

.whats-serv {
  margin-top: -100px;
}

.quebra img {
  padding-top: 40px;
  width: 100%;
  margin-bottom: -65px;
}
/* media querysss */
@media (max-width: 966px) {
  .s-tittle h1 {
    font-size: 32px;
    top: 20%;
  }

  .s-tittle h1:after,
  .s-tittle h1:before {
    width: 180px;
    height: 5px;
  }
  .cont-s p {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .s-tittle h1 {
    font-size: 20px;
    top: 10%;
  }
  .s-tittle h1:after,
  .s-tittle h1:before {
    width: 100px;
    height: 3px;
  }

  .cont-s p {
    margin-top: 20px;
  }

  .subt h2 {
    font-size: 16px;
  }
}
/* fim media query */
